<h1>Classificador de Alunos</h1>
<app-aluno (alunoAdicionado)="adicionarAluno($event)"></app-aluno>

<div>
   <!-- Lista de alunos -->
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Nota</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let aluno of alunos">
        <td>{{ aluno.nome }}</td>
        <td>{{ aluno.nota }}</td>
        <td>{{ aluno.status }}</td>
        <td>
          <!-- Botões apenas para status pendente -->
          <ng-container *ngIf="aluno?.status === 'pendente'">
            <button (click)="atualizarStatus(aluno.nome, 'aprovado')">Aprovar</button>
            <button (click)="atualizarStatus(aluno.nome, 'reprovado')">Reprovar</button>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
